body {
    color:rgb(0, 255, 115);
}
Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
firstpj
/
Portfolio-setup-and-mobile
Public

Code
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Portfolio-setup-and-mobile/style.css
Rimuru-Tempest-26 add style to contact form
Latest commit bcba2f1 yesterday
 History

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  /* stylelint-disable-line block-no-empty */
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  place-items: center;
}

.toolbar p {
  color: #6070ff;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  background-image: url(Images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  margin-top: 0;
}

.toolbar {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  align-items: center;
  color: #6070ff;
  width: 100.5%;
  background-color: #fff;
  margin-bottom: -5px;
  justify-content: space-around;
  gap: 50%;
}

.header {
  font-style: bold;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 80%;
  margin-left: 16px;
  margin-top: 120px;
}

#title {
  font-size: 1.5em;
  font-style: bold;
  font-weight: 900;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 80%;
  margin-left: 16px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.abt {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 80%;
  margin-left: 16px;
  margin-top: 80px;
  margin-bottom: 1px;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  width: 90%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 5px;
}

.info-abt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  width: 90%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 5px;
}

.connect {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: #7f8cff;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.connect h3 {
  margin: 0;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15%;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 120px;
}

.abt-icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15%;
  margin-top: 0;
  margin-left: 5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  gap: 50%;
  width: 90%;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  background: #fff;
  margin-top: 120px;
}

.tonic {
  align-items: center;
  margin: 16px;
}

.details {
  font-style: normal;
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 90%;
  padding-left: 16px;
  gap: 5%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.spec {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.lang {
  font-style: normal;
  font-size: 1em;
  display: flex;
  padding: 0;
  justify-content: space-around;
  width: 80%;
  color: #6070ff;
  margin: 0;
}

.hcj {
  background-color: #ebebff;
  border-radius: 8px;
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
}

.hcj p {
  margin: 0;
}

.see {
  margin: 5%;
  margin-top: 20px;
}

.button {
  background-color: #fff;
  border: 1px solid #6070ff;
  font-style: normal;
  font-size: 15px;
  font-weight: 510;
  color: #396df2;
  padding: 21px;
  transition-duration: 0.4s;
  border-radius: 8px;
  box-sizing: border-box;
  width: 124px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button:hover {
  background: #6070ff;
  color: #fff;
  border-radius: 12px;
}

.button:active {
  background: #2230d2;
  border-radius: 12px;
  color: #fff;
}

h1 {
  margin: 0;
}

.buttonr {
  background-color: #fff;
  border: 1px solid #6070ff;
  font-style: normal;
  font-size: 17px;
  font-weight: 510;
  color: #396df2;
  padding: 21px;
  transition-duration: 0.4s;
  border-radius: 8px;
  box-sizing: border-box;
  width: 162px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}

.buttonr:hover {
  background: #6070ff;
  border: 1px solid;
}

ul ul {
  padding: 0;
}

.about-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 50%;
  width: 90%;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  padding: 14px;
  margin-top: 30%;
  background: #fff;
  height: auto;
}

.header h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.hh {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.options {
  margin-left: 35px;
  width: 80%;
  padding: 0;
}

.ll {
  display: flex;
  background-color: #f7f7f9;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 12px;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  color: #253858;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 50%;
  width: 90%;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  padding: 14px;
  margin-top: 30%;
  background: #6070ff;
  height: auto;
  color: #fff;
}

.contact-head {
  text-align: center;
}

.contact-info {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  width: inherit;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  width: inherit;
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.contact-button {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  border: none;
}

.contact-button:hover {
  background: #6070ff;
  color: #fff;
  border-radius: 12px;
}

.contact-button:active {
  background: #2230d2;
  border-radius: 12px;
  color: #fff;
}

.contact-background {
  position: absolute;
  left: 0px;
  width: 540px;
  height: 520px;
}

.contact-description {
  z-index: 1;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Portfolio-setup-and-mobile/style.css at main · firstpj/Portfolio-setup-and-mobile